$orange = #f70
$blue = #106bff;
$lightBlue = rgba(10, 132, 255, 0.3);
$BG = #f2f6f8;
$blockBG = #ffffff;
$pad = 12px
$focus=linear-gradient(195deg,rgba(255, 0, 255, 0.05),rgba(0, 255, 255, 0.07));

//$video = #1bd7ad;
//$google = #0a84ff
//$cpa = #493ca5;
//$other = #d92eb8;
//$new = #abd3fa;

$mobile = #00c75a
$google = #0a84ff
$cpa = #493ca5
$coinrate = #f5a623
$other = #ff6079