.RevisionStatus
	margin-bottom 5px
	text-align: center;
	border-radius: 3px
	padding: 2px 5px
	text-transform: capitalize
	font-size: 1.4rem;
	color: #ffffff;
	margin-left:1rem
	font-weight: 400;
	&_neutral
		background-color: #1fe8eb;
	&_good
		background-color: #476afc;
	&_bad
		background-color: #ff6684;
