.Home
	min-height: 434px;
	justify-content: center;
	display: flex;
	flex-direction: column
	&__title
		margin-top: 80px;
		font-family:$head-font
		font-size: 2.6rem
		text-align end
		div
			margin-right: auto;
			text-align center
			margin-left: auto;
			width: 70%;
.Logo
	&__icon
		height 100px
		+below(500px)
			height 50px
	&__wrapper
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
