$exo ='Exo 2',  sans-serif;
$monte = 'Montserrat', sans-serif;
$head-font = 'Gilroy-Light', sans-serif;
$title-font = 'Gilroy-ExtraBold', sans-serif;
$secondary-font = 'Noto Sans', sans-serif;

$thin       = 100;
$light      = 300;
$regular    = 400;
$medium     = 500;
$bold       = 700;
$black      = 900;

Montserrat($weight)
	font-family 'Montserrat', sans-serif;
	font-weight $weight;

Exo($weight)
	font-family 'Exo 2', sans-serif;
	font-weight $weight;

Roboto($weight)
	font-family 'Roboto', sans-serif;
	font-weight $weight;
//
$SizeTitle= 30px
$SizeNum = 26px

SecondTitle(titleSize)
	font-family: $title-font
	font-size: titleSize;
	font-weight: 700;
	color: rgba(24, 23, 54, 0.4);
	text-transform: uppercase;